body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #000000; /* dark background */
}


input {
  width: 100%;
  padding: 12px;
  background: #0b0b0b; 
  border: 2px solid #161212;       
  border-radius: 8px;
  outline: none;      
  color: #fff;
  font-size: 15px;
  transition: all 0.3s ease; 
}

input:focus {
  border: 2px solid #8b5cf6; 
  box-shadow: 0 0 8px #8b5cf6;
}

h1{
  color: #8b5cf6;
  font-weight: 700;
}
h3{
  color: #fff;
}
h1, h2, h3, h5, p {
  margin: 0;          /* removes browser default margins */
  font-size: 16px;    /* same size for all */
  font-weight: normal; /* removes bold from headings */
}


p{
  font-size: 10px;
  color: floralwhite;
}