.join-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.join-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.join-card h2 {
  margin: 10px 0;
}

.join-card p {
  margin-bottom: 20px;
  color: #cbd5e1;
}

.input {
  width: 90%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  
}

.join-btn, .create-btn, .copy-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 15px;
}

.join-btn {
  background: linear-gradient(to right, #7c3aed, #3b82f6);
  color: white;
}

.create-btn {
  background: #ffffff;
  color: black;
  width: 500px;
}

.copy-btn {
  background: #0f172a;
  border: 1px solid #475569;
  color: #e2e8f0;
}

.copy-btn:hover {
  background: #1e293b;
}



/* Mobile Responsive */
@media (max-width: 600px) {
  

    .join-page{
padding: 30px;
display: flex;
  justify-content: center;
  align-items: center;
  color: white;
    }
  .join-card {
    width: 90%;
    padding: 20px;
  }

  .icon {
    font-size: 32px;
  }

  .join-card h2 {
    font-size: 20px;
  }

  .input {
    font-size: 13px;
    padding: 10px;
  }

  .join-btn, .create-btn, .copy-btn {
    font-size: 14px;
    padding: 10px;
     width: 100%;
  }
}
